/* Styling Main Header */
.main-header {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    
}
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bolder;             
}
.main-header p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* LABEL */
.radio-label {
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, serif;
}






